@import "./variables";

.profile {
  width: 80%;
  margin: auto;
  background: $clr-lightest-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 15rem;

  &__left {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.btn {
  height: 1.3rem;
  margin-left: 4rem;
}

.copy-line {
  color: $clr-dark-grey;
  margin-top: 2rem;
}

.tags {
  margin-top: 2rem;
}

.pp {
  height: $pp-big-size;
  width: $pp-big-size;
}

.dropdown {
  width: 80%;
  margin: 2rem auto 0 auto;
  position: relative;

  & button {
    padding-right: 0.5rem;
  }

  & .material-icons {
    margin-left: 0.5rem;
  }

  & ul {
    position: absolute;
    /*     top: 0; */
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & li {
    color: $clr-white;
    background: $clr-primary;
    padding: 1.2rem 1.5rem;
    border-top: white 1px solid;

    & a,
    a:link,
    a:visited,
    a:active,
    a:focus {
      color: $clr-white;
    }
  }
}

.galery {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

/* .card {
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &__img {
    width: 25rem;
    height: 20rem;
    border-radius: 0.5rem;
  }
}
 */
