@import "./variables";

.profile {
  width: 80%;
  margin: auto;
  background: $clr-lightest-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 15rem;

  &__left {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}

.btn {
  height: 1.3rem;
  margin-left: 4rem;
}

.copy-line {
  color: $clr-dark-grey;
  margin-top: 2rem;
}

.tags {
  margin-top: 2rem;
}

.pp {
  height: $pp-big-size;
  width: $pp-big-size;
}

.sort {
  display: flex;
  align-items: baseline;
  width: 80%;
  margin: 2rem auto 0 auto;
}

.galery {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
}

/* .card {
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &__img {
    width: 25rem;
    height: 20rem;
    border-radius: 0.5rem;
  }
}
 */
