/* Colors */
/* Sizes */
.profile {
  width: 80%;
  margin: auto;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 15rem;
}

.profile__left {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.btn {
  height: 1.3rem;
  margin-left: 4rem;
}

.copy-line {
  color: #525252;
  margin-top: 2rem;
}

.tags {
  margin-top: 2rem;
}

.pp {
  height: 12rem;
  width: 12rem;
}

.dropdown {
  width: 80%;
  margin: 2rem auto 0 auto;
  position: relative;
}

.dropdown button {
  padding-right: 0.5rem;
  width: 8rem;
}

.dropdown button:hover, .dropdown button:focus {
  color: white;
  background: #901c1c;
}

.dropdown .material-icons {
  position: absolute;
  left: 6rem;
}

.dropdown ul {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown li {
  color: white;
  background: #901c1c;
  border-top: white 1px solid;
  width: 8rem;
}

.dropdown li a,
.dropdown li a:link,
.dropdown li a:visited,
.dropdown li a:active,
.dropdown li a:focus {
  display: block;
  color: white;
  padding: 1.2rem 1.5rem;
}

.galery {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  min-height: 50vh;
}

.likes-price {
  position: sticky;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  width: 30%;
  bottom: 0;
  margin: 0 2rem 0 auto;
  background: #db8876;
  font-size: 1.8rem;
}
