/* Colors */
/* Sizes */
.profile {
  width: 80%;
  margin: auto;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 15rem;
}

.profile__left {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.btn {
  height: 1.3rem;
  margin-left: 4rem;
}

.copy-line {
  color: #525252;
  margin-top: 2rem;
}

.tags {
  margin-top: 2rem;
}

.pp {
  height: 12rem;
  width: 12rem;
}

.dropdown {
  width: 80%;
  margin: 2rem auto 0 auto;
  position: relative;
}

.dropdown button {
  padding-right: 0.5rem;
}

.dropdown .material-icons {
  margin-left: 0.5rem;
}

.dropdown ul {
  position: absolute;
  /*     top: 0; */
  margin: 0;
  padding: 0;
  list-style: none;
}

.dropdown li {
  color: white;
  background: #901c1c;
  padding: 1.2rem 1.5rem;
  border-top: white 1px solid;
}

.dropdown li a,
.dropdown li a:link,
.dropdown li a:visited,
.dropdown li a:active,
.dropdown li a:focus {
  color: white;
}

.galery {
  display: flex;
  flex-flow: wrap;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
}

/* .card {
  width: 33%;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 4rem;

  &__img {
    width: 25rem;
    height: 20rem;
    border-radius: 0.5rem;
  }
}
 */
